[Unit]
Description=Update LaLiga DNS Evade data
After=network-online.target dnsproxy.service laliga-dns-evade.service AdGuardHome.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/update-laliga-dns-evade.sh

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictSUIDSGID=yes
LockPersonality=yes
